<header class="demo-drawer-header">
    <img src="assets/images/user.jpg" class="demo-avatar">
    <div class="demo-avatar-dropdown">
        <span>hello@example.com</span>
        <div class="mdl-layout-spacer"></div>
        <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">arrow_drop_down</i>
            <span class="visuallyhidden">Accounts</span>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
            <li class="mdl-menu__item">hello@example.com</li>
            <li class="mdl-menu__item">info@example.com</li>
            <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
        </ul>
    </div>
</header>
<nav class="demo-navigation mdl-navigation">
    <a class="mdl-navigation__link" href="/home"><i class="material-icons" role="presentation">home</i>Home</a>
    <a class="mdl-navigation__link" href="/events"><i class="material-icons" role="presentation">event</i>My Events</a>
    <a class="mdl-navigation__link" href="/events/add"><i class="material-icons" role="presentation">event</i>Create Event</a>
    <a class="mdl-navigation__link" href="/events/facebook"><i class="material-icons" role="presentation">event</i>FB Events</a>
    <!--<a class="mdl-navigation__link" href=""><i class="mdl-color-text&#45;&#45;blue-grey-400 material-icons" role="presentation">inbox</i>Inbox</a>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text&#45;&#45;blue-grey-400 material-icons" role="presentation">delete</i>Trash</a>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text&#45;&#45;blue-grey-400 material-icons" role="presentation">report</i>Spam</a>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text&#45;&#45;blue-grey-400 material-icons" role="presentation">forum</i>Forums</a>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text&#45;&#45;blue-grey-400 material-icons" role="presentation">flag</i>Updates</a>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text&#45;&#45;blue-grey-400 material-icons" role="presentation">local_offer</i>Promos</a>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text&#45;&#45;blue-grey-400 material-icons" role="presentation">shopping_cart</i>Purchases</a>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text&#45;&#45;blue-grey-400 material-icons" role="presentation">people</i>Social</a>
    <div class="mdl-layout-spacer"></div>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text&#45;&#45;blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>-->
</nav>
