<section mdl class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
        <i class="material-icons">play_circle_filled</i>
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text">
            <h4>Features</h4>
            Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.
        </div>
        <div class="mdl-card__actions">
            <a href="#" class="mdl-button">Read our features</a>
        </div>
    </div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
        <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
        <li class="mdl-menu__item">Lorem</li>
        <li class="mdl-menu__item" disabled>Ipsum</li>
        <li class="mdl-menu__item">Dolor</li>
    </ul>
</section>

<div mdl class="mdl-grid demo-content">
    <ul class='mdl-list'>
        <li class="mdl-list__item mdl-list__item--three-line" *ngFor="#event of fbEvents; #i = index">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">event</i>
              <span>{{event.name}}</span>
              <span class="mdl-list__item-text-body">
                {{event.description}}
              </span>
            </span>
            <span class="mdl-list__item-secondary-action">



            </span>
        </li>
    </ul>


    <div class="demo-card-wide mdl-card mdl-shadow--2dp" *ngFor="#event of fbEvents">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{event.name}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            {{event.description}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Importar
            </a>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">share</i>
            </button>
        </div>
    </div>
</div>
