section:not(:last-of-type) {
    position: relative;
    margin-bottom: 48px;
}
section.section--center {
    max-width: 860px;
}
  #features section.section--center {
    max-width: 620px;
}
section > header{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
section > .section__play-btn {
    min-height: 200px;
}
section > header > .material-icons {
    font-size: 3rem;
}
 section > button {
    position: absolute;
    z-index: 99;
    top: 8px;
    right: 8px;
}
section .section__circle {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
  section .section__text {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-top: 8px;
}
  section .section__text h5 {
    font-size: inherit;
    margin: 0;
    margin-bottom: 0.5em;
}
  section .section__text a {
    text-decoration: none;
}
  section .section__circle-container > .section__circle-container__circle {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin: 8px 0;
}
  section.section--footer .section__circle--big {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 8px 32px;
}
  .is-small-screen section.section--footer .section__circle--big {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 8px 16px;
}
  section.section--footer {
    padding: 64px 0;
    margin: 0 -8px -8px -8px;
}
  section.section--center .section__text:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.13);
}
  .mdl-card .mdl-card__supporting-text > h3:first-child {
    margin-bottom: 24px;
}

  #features section {
    margin-bottom: 72px;
}
  #features h4, #features h5 {
    margin-bottom: 16px;
}
