.mdl-textfield {
    padding: 0px;
    margin-top: 41px;
}

.mdl-textfield .mdl-textfield__expandable-holder {
    bottom: 19px;
}

/*.mdl-layout__drawer-button {*/
    /*color: rgba(0, 0, 0, 0.54);*/
/*}*/