<div mdl class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <m-header mdl class="demo-header mdl-layout__header"></m-header>
    <m-sidebar class="demo-drawer mdl-layout__drawer"></m-sidebar>
    <main mdl class="mdl-layout__content">
        <router-outlet></router-outlet>
    </main>
</div>