<h1>HOME</h1>
<alert type="info">ng2-bootstrap hello world!</alert>
<pre>Selected date is: <em *ngIf="dt">{{ getDate() | date:'fullDate'}}</em></pre>
<h4>Inline</h4>
<div style="display:inline-block; min-height:290px;">
    <datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true"></datepicker>
</div>

<!-- Accent-colored raised button with ripple -->
<button mdl class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    LOGIN
</button>

<accordion [closeOthers]="oneAtATime">
    <accordion-group heading="Static Header, initially expanded"
                     [isOpen]="status.isFirstOpen"
                     [isDisabled]="status.isFirstDisabled">
        This content is straight in the template.
    </accordion-group>
    <accordion-group *ngFor="#group of groups" [heading]="group.title">
        {{ group?.content }}
    </accordion-group>
    <accordion-group heading="Dynamic Body Content">
        <p>The body of the accordion group grows to fit the contents</p>
        <button type="button" class="btn btn-primary btn-sm" (click)="addItem()">Add Item</button>
        <div *ngFor="#item of items">{{item}}</div>
    </accordion-group>
    <accordion-group #group [isOpen]="status.open">
        <div accordion-heading>
            I can have markup, too!
            <i class="pull-right glyphicon"
               [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
        </div>
        This is just some content to illustrate fancy headings.
    </accordion-group>
</accordion>